@function extractStylesFromMap($map, $keyPhrase) {
  $result: ();
  @each $key, $value in $map {
    @if (str-index($key, $keyPhrase) != null) {
      $property-name: str-slice($key, str-length($keyPhrase) + 2);
      $result: map-merge(
        $result,
        (
          $property-name: $value,
        )
      );
    }
  }
  @return $result;
}

@mixin applyStylesFromMap($properties) {
  @each $name, $value in $properties {
    #{$name}: $value;
  }
}

@function addAlphaToHex($color, $alphaHex) {
  @return to-lower-case('#{$chipTextColor}#{$alphaHex}');
}
