$Id:(0: T,
1: e,
2: l,
3: e,
4: k,
5: o,
6: m,
);$Logo:(name: tMobileLogo,
size: '[54,64]',
color: #ffffff,
);$Fonts:(h1-bold-font-size: 36px,
h1-bold-font-weight: bold,
h1-bold-line-height: 54px,
h1-regular-font-size: 36px,
h1-regular-font-weight: 400,
h1-regular-line-height: 54px,
h2-bold-font-size: 28px,
h2-bold-font-weight: bold,
h2-bold-line-height: 42px,
h2-regular-font-size: 28px,
h2-regular-font-weight: 400,
h2-regular-line-height: 42px,
h3-bold-font-size: 23px,
h3-bold-font-weight: bold,
h3-bold-line-height: 34px,
h3-regular-font-size: 23px,
h3-regular-font-weight: 400,
h3-regular-line-height: 34px,
base-bold-font-size: 18px,
base-bold-font-weight: bold,
base-bold-line-height: 27px,
base-regular-font-size: 18px,
base-regular-font-weight: 400,
base-regular-line-height: 27px,
text-bold-font-size: 12px,
text-bold-font-weight: bold,
text-bold-line-height: 14px,
text-regular-font-size: 12px,
text-regular-font-weight: 400,
text-regular-line-height: 14px,
input-bold-font-size: 18px,
input-bold-font-weight: bold,
input-bold-line-height: 24px,
input-regular-font-size: 18px,
input-regular-font-weight: 400,
input-regular-line-height: 24px,
header-tabs-regular-font-size: 22px,
header-tabs-regular-font-weight: 400,
header-tabs-regular-line-height: 21px,
default-color: #38383C,
default-fontFamily: 'TeleNeoWeb, FontAwesome, sans-serif',
subtext-bold-font-size: 14px,
subtext-bold-font-weight: bold,
subtext-bold-line-height: 21px,
subtext-small-font-size: 12px,
subtext-small-font-weight: 400,
subtext-small-line-height: 18px,
subtext-regular-font-size: 14px,
subtext-regular-font-weight: 400,
subtext-regular-line-height: 21px,
textlink-bold-font-size: 18px,
textlink-bold-font-weight: bold,
textlink-bold-line-height: 27px,
textlink-regular-font-size: 18px,
textlink-regular-font-weight: 400,
textlink-regular-line-height: 27px,
);$Colors:(text-base: #38383C,
text-black: #000000,
text-white: #ffffff,
status-failure: #E20074,
status-success: #187431,
primary-base: #E20074,
primary-hover: #c02a6b,
primary-border: #2360c5,
disabled-base: #B2B2B2,
disabled-hover: none,
disabled-border: #2360c5,
grayscale-black: #000000,
grayscale-gray26: #262626,
grayscale-gray60: #666666,
grayscale-gray80: #333333,
grayscale-gray90: #191919,
grayscale-lightGray: #B2B2B2,
grayscale-background: #FAFAFA,
grayscale-rowHighlight: #3F3F3F,
secondary-base: #E20074,
secondary-hover: #c02a6b,
secondary-border: #2360c5,
uiComponents-tags-blue: #6CB7B0,
uiComponents-tags-green: #497E76,
uiComponents-cards-border: #218076,
uiComponents-cards-background: #FFFFFF99,
uiComponents-links: #0D39DF,
uiComponents-notes: #E8F4FC,
uiComponents-banner: #D9D9D9,
uiComponents-inputs-active: #63ADDF,
uiComponents-inputs-default: #96DCFA,
);$Layouts:(header-base-gap: 24px,
header-base-color: #38383C,
header-base-width: 100%,
header-base-display: flex,
header-base-padding: 0px 24px 0px 0px,
header-base-box-shadow: 0px 4px 4px 0px #0000001f,
header-base-activeColor: #e20074,
header-base-background-color: #ffffff,
header-logo-color: #ffffff,
header-logo-height: 120px,
header-logo-display: flex,
header-logo-min-width: 118px,
header-logo-align-items: center,
header-logo-justify-content: center,
header-logo-background-color: #E20074,
header-menu-base-width: 100%,
header-menu-base-display: flex,
header-menu-base-padding: 10px 0px 30px 0px,
header-menu-base-flex-direction: column,
header-menu-base-justify-content: space-between,
header-menu-lowerSection-base-display: flex,
header-menu-lowerSection-base-align-items: center,
header-menu-lowerSection-base-justify-content: space-between,
header-menu-lowerSection-tabs-base-cursor: pointer,
header-menu-lowerSection-tabs-base-display: flex,
header-menu-lowerSection-tabs-base-align-items: center,
header-menu-lowerSection-tabs-base-white-space: nowrap,
header-menu-lowerSection-tabs-base-justify-content: center,
header-menu-lowerSection-tabs-base-text-decoration: none,
header-menu-lowerSection-tabs-container-gap: 48px,
header-menu-lowerSection-tabs-container-display: flex,
header-menu-lowerSection-tabs-container-align-items: center,
header-menu-lowerSection-tabs-container-justify-content: center,
header-menu-lowerSection-tabs-container-background-color: transparent,
header-menu-lowerSection-tabs-iconsContainer-gap: 30px,
header-menu-lowerSection-tabs-iconsContainer-display: flex,
header-menu-lowerSection-tabs-iconsContainer-align-items: baseline,
header-menu-lowerSection-tabs-iconsContainer-justify-content: center,
header-menu-lowerSection-tabs-iconsContainer-background-color: transparent,
header-menu-lowerSection-icons-gap: 30px,
header-menu-lowerSection-icons-width: 24px,
header-menu-lowerSection-icons-height: 24px,
header-menu-upperSection-base-display: flex,
header-menu-upperSection-base-align-items: center,
header-menu-upperSection-base-justify-content: space-between,
header-menu-upperSection-tabs-base-cursor: pointer,
header-menu-upperSection-tabs-base-display: flex,
header-menu-upperSection-tabs-base-align-items: center,
header-menu-upperSection-tabs-base-justify-content: center,
header-menu-upperSection-tabs-container-gap: 16px,
header-menu-upperSection-tabs-container-display: flex,
header-menu-upperSection-tabs-container-align-items: center,
header-menu-upperSection-tabs-container-justify-content: center,
header-menu-upperSection-other-gap: 16px,
header-menu-upperSection-clientTypes-gap: 16px,
subheader-top: 121px,
subheader-height: calc(100vh - 121px),
);